/* Page MOYENNE */

.note-critique {
    background: rgb(46,8,5);
    background: radial-gradient(circle, rgba(46,8,5,1) 0%, rgba(121,26,9,1) 35%, rgba(233,41,23,1) 100%);
}
.note-royal {
    background: rgb(42,37,59);
    background: radial-gradient(circle, rgba(42,37,59,1) 0%, rgba(121,58,26,1) 35%, rgba(238,179,44,1) 100%); 
}
.note-cool {
    background: rgb(43,59,37);
    background: radial-gradient(circle, rgba(43,59,37,1) 0%, rgba(26,121,44,1) 35%, rgba(44,238,160,1) 100%);
}
.note-awesome {
    background: rgb(39,0,88);
    background: radial-gradient(circle, rgba(39,0,88,1) 0%, rgba(100,21,147,1) 46%, rgba(196,120,181,1) 100%); 
}
.noteDiv {
    position: relative;
    border-radius: 0.3em;
    padding: 0.5em 1.2em 0.6em 1.2em;
    width: fit-content;
    margin: 0.2em auto;
    border: 0.2em solid;
}
.noteSmile {
    transform: translate(-50%,-50%);
    position: absolute;
    color: black;
    top: 0.2em;
    left: 0.3em;
    font-size: 1.2em;
}
@keyframes hovercrown{
    from { top: -1.1em;}
    to { top : -0.9em;}
}
.noteBest {
    transform: rotate(15deg);
    position: absolute;
    color: rgb(225, 234, 45);
    top: -1em;
    right: -0.2em;
    font-size: 2.2em;
    animation-name: hovercrown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* Page PICSUM */

.imgKeepBtn {
    position: absolute;
    color: black;
    bottom: 0.5em;
    left: 0.5em;
    font-size: 1.4em;
    background: rgba(255, 255, 255, 0.2);
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8em;
    transition: 0.2s;
}

.imgReloadBtn {
    position: absolute;
    color: black;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8em;
    transition: 0.2s;
}

.imgReloadBtn:hover, .imgKeepBtn:hover {
    background: rgba(255, 255, 255, 0.8);
}

.imgHover {
    position: relative;
}